@import '../../styles/variables';

.color-sample-container {
  padding: 0;
  border: unset;
  cursor: pointer;
  background-color: unset;
  outline: none;

  &:hover {
    .color-sample {
      opacity: 0.6;
    }
  }

  .color-sample {
    margin: 4px;
    height: 28px;
    width: 28px;
    border-radius: 15px;

    border: $border;
    transition: $box-shadow-transition;
  }

  .color-selected {
    box-shadow: 0 0 0 2.5px #fff, 0 0 0 4.5px $selected-color;
  }
}
